<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Scoreboard</title>
    <link rel="stylesheet" href="/assets/css/bracket.css">
</head>

<body>
    <div id="bracket" class="bracket">
        {% if bracket_stage_count >= 3 %}
            <div class="stage">
                {% for matchup in bracket[0] %}
                    <div class="matchup">
                    {% if bracket_visibilities[0][loop.index0] %}
                        <span class="header">QUARTERFINAL {{ loop.index }}</span>
                        {% if matchup.team1 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team1].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team1_score }}</span>
                            </div>
                        </div>
                        {% if matchup.team2 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team2].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team2_score }}</span>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if bracket_stage_count >= 2 %}
            <div class="stage">
                {% for matchup in bracket[1] %}
                    <div class="matchup">
                    {% if bracket_visibilities[1][loop.index0] %}
                        <span class="header">QUARTERFINAL {{ loop.index }}</span>
                        {% if matchup.team1 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team1].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team1_score }}</span>
                            </div>
                        </div>
                        {% if matchup.team2 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team2].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team2_score }}</span>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
        {% if bracket_stage_count >= 1 %}
            <div class="stage">
                {% for matchup in bracket[2] %}
                    <div class="matchup">
                    {% if bracket_visibilities[2][loop.index0] %}
                        <span class="header">QUARTERFINAL {{ loop.index }}</span>
                        {% if matchup.team1 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team1].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team1_score }}</span>
                            </div>
                        </div>
                        {% if matchup.team2 == matchup.winner %}
                        <div class="team winner">
                        {% else %}
                        <div class="team">
                        {% endif %}
                            <span class="name">{{ teams[matchup.team2].name }}</span>
                            <div class="score">
                                <span>{{ matchup.team2_score }}</span>
                            </div>
                        </div>
                    {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% endif %}
    </div>
</body>

</html>
