:root {
    --team-start-offset: -40%;
    --team-width: 35%;
    --team-height: 40px;
    --team-distance-from-top: 2%;

    --team-score-font-size: 2rem;
    --team-name-font-size: 2rem;
    --team-sr-font-size: 1.5rem;

    --team-logo-width: 4.5rem;

    --team-banner-color: #dddddd;
    --team-text-color: #000000;

    --team1-color: #27AAE1;
    --team2-color: #C80013;

    --animation-speed: 1;
    --animation-delay: 2s;

    /* Overwatch Official League Branding Colors */
    --ow-contenders-green: #8cba11;
    --ow-league-orange: #ff9c00;
    --ow-league-dark-grey: #202224;

    /* Overwatch Colorblind UI Colors */
    --ow-colorblind-red: #C80013; /* Enemy Default */
    --ow-colorblind-tawny: #D45800;
    --ow-colorblind-orange: #D47900;
    --ow-colorblind-gold: #FFD700;
    --ow-colorblind-yellow: #FFFF00;
    --ow-colorblind-lime-green: #CCFF00;
    --ow-colorblind-green: #00AB84;
    --ow-colorblind-neon-blue: #00FFFF;
    --ow-colorblind-blue: #27AAE1; /* Friendly Default */
    --ow-colorblind-purple: #800080;
    --ow-colorblind-aqua: #523FFF;
    --ow-colorblind-magenta: #FF00FF;
    --ow-colorblind-pink: #FF6EC7;

    /* Other Branded Colors */
    --ow-website-blue: #00a5e2;
}

* {
    /* visible = logo extends outside of the div */
    /* hidden = logo is clipped to the div */
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Bold.ttf") format('TrueType');
    font-weight: bold;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Regular.ttf") format('TrueType');
    font-weight: normal;
}

@keyframes slide-in-left {
    0% {
        left: var(--team-start-offset);
    }
    100% {
        left: 0;
    }
}

@keyframes slide-in-right {
    0% {
        right: var(--team-start-offset);
    }
    100% {
        right: 0;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

div.left {
    left: var(--team-start-offset);
    animation: calc(1s / var(--animation-speed)) slide-in-left var(--animation-delay) forwards;
    border-right: 10px solid var(--team1-color);
    justify-content: right;
}

div.right {
    right: var(--team-start-offset);
    animation: calc(1s / var(--animation-speed)) slide-in-right var(--animation-delay) forwards;
    border-left: 10px solid var(--team2-color);
    justify-content: left;
}

.team-banner {
    background-color: var(--team-banner-color);
    position: absolute;
    top: var(--team-distance-from-top);
    width: var(--team-width);
    height: var(--team-height);
    color: var(--team-text-color);
    display: flex;
    align-items: center;
    font-size: 1.5em;
}

.team-score, .team-logo, .team-name, .team-sr {
    font-family: 'Rajdhani', sans-serif;
    font-weight: bold;
    opacity: 0;
}

.team-score {
    font-size: var(--team-score-font-size);
    width: 4rem;
    text-align: center;
    animation: calc(1s / var(--animation-speed)) fade-in calc(var(--animation-delay) + 1s / var(--animation-speed)) forwards;
}

.team-logo {
    width: var(--team-logo-width);
    height: 100%;
    animation: calc(1s / var(--animation-speed)) fade-in calc(var(--animation-delay) + 1.3s / var(--animation-speed)) forwards;
    display: flex;
    justify-content: center;
}

.team-logo img {
    width: 70%;
    height: 100%;
    object-fit: cover;
}

div.left .team-logo {
    background-color: var(--team1-color);
}

div.right .team-logo {
    background-color: var(--team2-color);
}

.team-name {
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: var(--team-name-font-size);
    text-transform: uppercase;
    animation: calc(1s / var(--animation-speed)) fade-in calc(var(--animation-delay) + 1.6s / var(--animation-speed)) forwards;
}

.team-sr {
    font-size: var(--team-sr-font-size);
    animation: calc(1s / var(--animation-speed)) fade-in calc(var(--animation-delay) + 2s / var(--animation-speed)) forwards;
}
