:root {
    --container-width: 80%;
    --container-height: 75%;
    --container-background-color: #ffffff70;

    --header-font-size: 5rem;
    --header-bottom-spacing: 2rem;

    --rounds-width: 95%;

    --round-margin: 0.25rem;

    --round-top-half-height: 25rem;
    --round-top-half-background-color: #aaaaaa;

    --team-name-font-size: 2rem;
    --team-name-vertical-spacing: 0.5rem;

    --gamemode-image-size: 5rem;

    --score-font-size: 3rem;

    --round-bottom-half-height: 7rem;
    --round-bottom-half-top-spacing: 1rem;

    --map-name-font-size: 1.5rem;
    --map-name-spacing: 0.5rem;

    --gamemode-name-font-size: 1rem;

    /* Overwatch Official League Branding Colors */
    --ow-contenders-green: #8cba11;
    --ow-league-orange: #ff9c00;
    --ow-league-dark-grey: #202224;

    /* Overwatch Colorblind UI Colors */
    --ow-colorblind-red: #C80013; /* Enemy Default */
    --ow-colorblind-tawny: #D45800;
    --ow-colorblind-orange: #D47900;
    --ow-colorblind-gold: #FFD700;
    --ow-colorblind-yellow: #FFFF00;
    --ow-colorblind-lime-green: #CCFF00;
    --ow-colorblind-green: #00AB84;
    --ow-colorblind-neon-blue: #00FFFF;
    --ow-colorblind-blue: #27AAE1; /* Friendly Default */
    --ow-colorblind-purple: #800080;
    --ow-colorblind-aqua: #523FFF;
    --ow-colorblind-magenta: #FF00FF;
    --ow-colorblind-pink: #FF6EC7;

    /* Other Branded Colors */
    --ow-website-blue: #00a5e2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Bold.ttf") format('TrueType');
    font-weight: bold;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Regular.ttf") format('TrueType');
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: var(--container-width);
    height: var(--container-height);
    font-family: 'Rajdhani', sans-serif;
    background-color: var(--container-background-color);
}

.header {
    font-size: var(--header-font-size);
    font-weight: bold;
    padding-bottom: var(--header-bottom-spacing);
}

.rounds {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: var(--rounds-width);
}

.round {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-left: var(--round-margin);
    margin-right: var(--round-margin);
}

.round .top-half {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: var(--round-top-half-height);
    background-color: var(--round-top-half-background-color);

}

.team-name {
    font-size: var(--team-name-font-size);
    font-weight: bold;
    text-transform: uppercase;
    margin-top: var(--team-name-vertical-spacing);
    margin-bottom: var(--team-name-vertical-spacing);
}

.gamemode-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.gamemode-icon img {
    width: var(--gamemode-image-size);
    height: var(--gamemode-image-size);
}

.score {
    font-size: var(--score-font-size);
}

.round .bottom-half {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: var(--round-bottom-half-height);
    padding-top: var(--round-bottom-half-top-spacing);
}

.map-name {
    font-size: var(--map-name-font-size);
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    margin: var(--map-name-spacing);
}

.gamemode-name {
    font-size: var(--gamemode-name-font-size);
    text-transform: uppercase;
}
