<!DOCTYPE html>

<html lang="en">

<head>
    <title>Scoreboard</title>
    <link rel="stylesheet" type="text/css" href="/assets/css/scoreboard.css">
</head>

<body>
    {% if swap_scoreboard %}
        <div class="team-banner left">
            <!-- <span class="team-sr">4.3</span> -->
            <span class="team-name">{{ team2.name }}</span>
            <span class="team-logo">
                {% if team2.icon %}
                    <img src="{{ team2.icon }}" alt="Team 2 Logo">
                {% endif %}
            </span>
            <span class="team-score">{{ team2_score }}</span>
        </div>

        <div class="team-banner right">
            <span class="team-score">{{ team1_score }}</span>
            <span class="team-logo">
                {% if team1.icon %}
                    <img src="{{ team1.icon }}" alt="Team 1 Logo">
                {% endif %}
            </span>
            <span class="team-name">{{ team1.name }}</span>
            <!-- <span class="team-sr">4.3</span> -->
        </div>
    {% else %}
        <div class="team-banner left">
            <!-- <span class="team-sr">4.3</span> -->
            <span class="team-name">{{ team1.name }}</span>
            <span class="team-logo">
                {% if team1.icon %}
                    <img src="{{ team1.icon }}" alt="Team 1 Logo">
                {% endif %}
            </span>
            <span class="team-score">{{ team1_score }}</span>
        </div>

        <div class="team-banner right">
            <span class="team-score">{{ team2_score }}</span>
            <span class="team-logo">
                {% if team2.icon %}
                    <img src="{{ team2.icon }}" alt="Team 2 Logo">
                {% endif %}
            </span>
            <span class="team-name">{{ team2.name }}</span>
            <!-- <span class="team-sr">4.3</span> -->
        </div>
    {% endif %}
</body>

</html>
