<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Overview</title>
    <link rel="stylesheet" href="/assets/css/team.css">
</head>

<body>
    <div class="container">
        <div class="team-name">
            <span>{{ team.name }}</span>
        </div>
        <div class="players">
            <div class="player-row">
                {% for player in team.players %}
                    <div class="player-card">
                        <div class="character">
                            {% if player.character in character_icons %}
                                <img src="{{ character_icons | get(key=player.character) }}" alt="{{ player.character }}">
                            {% endif %}
                        </div>
                        <div class="player-info">
                            <span class="player-name">{{ player.name }}</span>
                            <span class="player-role">
                                {% if player.role in role_icons %}
                                    <img src="{{ role_icons | get(key=player.role) }}" alt="{{ player.role }}">
                                {% endif %}
                            </span>
                        </div>
                    </div>
                    {% set player_count = (team.players | length) %}
                    {% set halfway = (player_count / 2) | round(method="ceil") %}
                    {% if player_count > 3 and loop.index == halfway %}
            </div>
            <div class="player-row">
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>
