<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Scoreboard</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/bracket.js"></script>
</head>
<body>
    <svg id="blines" class="blines"></svg>

    <div id="bracket" class="bracket">
        {% if numTeams == 8 %}
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[3] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[4] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[5] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[6] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[7] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 2</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 3</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 4</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 2</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 7 %}
        <div class="bcolumn">
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[3] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[4] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[5] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[6] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 2</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 3</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 4</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 2</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 6 %}
        <div class="bcolumn">
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[3] }}</span></div></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[4] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 2</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 3</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[5] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 2</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 5 %}
        <div class="bcolumn">
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Quarterfinals 2</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[3] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[4] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 2</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 4 %}
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[3] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 2</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 3 %}
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
            <div class="bteamcontainer"></div>
            <div class="bteamcontainer"></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Semifinals 1</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[2] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 2 %}
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[1] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">Finals</span></div></div>
        </div>
        {% elif numTeams == 1 %}
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[0] }}</span></div>
        </div>
        {% endif %}
    </div>
</body>
</html>
