<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Scoreboard</title>
    <link rel="stylesheet" href="assets/css/styles.css">
    <script src="assets/js/bracket.js"></script>
</head>

<body>
    <svg id="blines" class="blines"></svg>

    <div id="bracket" class="bracket">
        {% if bracket_round_count >= 3 %}
            <div class="bcolumn">
                {% for visibility in bracket_visibilities[0] %}
                    {% if visibility == 0 %}
                        <div class="bteamcontainer"></div>
                    {% elif visibility == 1 %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">TBD</span></div></div>
                    {% else %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[bracket[0][loop.index0]].name }}</span></div></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if bracket_round_count >= 2 %}
            <div class="bcolumn">
                {% for visibility in bracket_visibilities[1] %}
                    {% if visibility == 0 %}
                        <div class="bteamcontainer"></div>
                    {% elif visibility == 1 %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">TBD</span></div></div>
                    {% else %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[bracket[1][loop.index0]].name }}</span></div></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if bracket_round_count >= 1 %}
            <div class="bcolumn">
                {% for visibility in bracket_visibilities[2] %}
                    {% if visibility == 0 %}
                        <div class="bteamcontainer"></div>
                    {% elif visibility == 1 %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">TBD</span></div></div>
                    {% else %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[bracket[2][loop.index0]].name }}</span></div></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
        {% if bracket_round_count >= 0 %}
            <div class="bcolumn">
                {% for visibility in bracket_visibilities[3] %}
                    {% if visibility == 0 %}
                        <div class="bteamcontainer"></div>
                    {% elif visibility == 1 %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">TBD</span></div></div>
                    {% else %}
                        <div class="bteamcontainer"><div class="bteam"><span class="team">{{ teams[bracket[3][loop.index0]].name }}</span></div></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endif %}
    </div>

    <div class="topleft"><img class="mainlogo" src="{{ assets['Main Logo'] }}"></div>
</body>

</html>
