<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bracket Scoreboard</title>
    <link rel="stylesheet" href="assets/css/styles.css">
</head>
<body>
    <div class="bracket">
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][3] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][4] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][5] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][6] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[0][7] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[1][0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[1][1] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[1][2] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[1][3] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[2][0] }}</span></div></div>
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[2][1] }}</span></div></div>
        </div>
        <div class="bcolumn">
            <div class="bteamcontainer"><div class="bteam"><span class="team">{{ matchups[3][0] }}</span></div></div>
        </div>
    </div>

    <div class="blines">
        <div class="blinecolumn"></div>
        <div class="blinecolumn">
            <div class="blinecontainer"><div class="bline"></div></div>
            <div class="blinecontainer"><div class="bline"></div></div>
            <div class="blinecontainer"><div class="bline"></div></div>
            <div class="blinecontainer"><div class="bline"></div></div>
        </div>
        <div class="blinecolumn">
            <div class="blinecontainer"><div class="bline"></div></div>
            <div class="blinecontainer"><div class="bline"></div></div>
        </div>
        <div class="blinecolumn">
            <div class="blinecontainer"><div class="bline"></div></div>
        </div>
    </div>
</body>
</html>
