<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Team Overview</title>
    <link rel="stylesheet" href="/assets/css/styles.css">
</head>
<body>
    <h1>Team Overview</h1>
    <p>{{ team }}</p>
    <div id="players" class="players">
        {% for player in players %}
            <div class="player">
                <h2>{{ player[0] }}</h2>
                <p>{{ player[1] }}</p>
                <p>{{ player[2] }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>
