:root {
    --container-width: 80%;
    --container-height: 85%;
    
    --tournament-name-font-size: 4rem;
    --tournament-name-color: gold;

    --header-font-size: 8rem;
    --header-spacing: -1.5rem;
    --header-color: white;

    --matchup-spacing: 1rem;

    --matchup-type-font-size: 2rem;
    --matchup-type-color: gold;

    --matchup-teams-height: 5rem;
    --matchup-border-width: 7px;
    --matchup-accent-color: #ff9c00;

    --team-font-size: 3.5rem;
    --team-color: #8cba11;

    --vs-width: 13rem;
    --vs-font-size: 3.5rem;
    --vs-color: white;
    --vs-background-color: #ff9c00;

    --social-font-size: 3rem;
    --social-img-size: 4rem;
    --social-color: white;
    --social-spacing: 5rem;
    --social-img-spacing: 1.5rem;

    /* Overwatch Official League Branding Colors */
    --ow-contenders-green: #8cba11;
    --ow-league-orange: #ff9c00;
    --ow-league-dark-grey: #202224;

    /* Overwatch Colorblind UI Colors */
    --ow-colorblind-red: #C80013; /* Enemy Default */
    --ow-colorblind-tawny: #D45800;
    --ow-colorblind-orange: #D47900;
    --ow-colorblind-gold: #FFD700;
    --ow-colorblind-yellow: #FFFF00;
    --ow-colorblind-lime-green: #CCFF00;
    --ow-colorblind-green: #00AB84;
    --ow-colorblind-neon-blue: #00FFFF;
    --ow-colorblind-blue: #27AAE1; /* Friendly Default */
    --ow-colorblind-purple: #800080;
    --ow-colorblind-aqua: #523FFF;
    --ow-colorblind-magenta: #FF00FF;
    --ow-colorblind-pink: #FF6EC7;

    /* Other Branded Colors */
    --ow-website-blue: #00a5e2;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Bold.ttf") format('TrueType');
    font-weight: bold;
}

@font-face {
    font-family: 'Rajdhani';
    src: url("/assets/fonts/Rajdhani/Rajdhani-Regular.ttf") format('TrueType');
    font-weight: normal;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: var(--container-width);
    height: var(--container-height);
    font-family: 'Rajdhani', sans-serif;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header h1 {
    font-size: var(--header-font-size);
    font-weight: bold;
    color: var(--header-color);
    margin: var(--header-spacing) 0;
}

.header h2 {
    font-size: var(--tournament-name-font-size);
    font-weight: normal;
    text-transform: uppercase;
    color: var(--tournament-name-color);
    margin: 0;
}

.matchups {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.matchup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: var(--matchup-spacing) 0;
}

.matchup .type {
    font-size: var(--matchup-type-font-size);
    font-weight: bold;
    color: var(--matchup-type-color);
    margin: 0;
}

.matchup .teams {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: var(--matchup-teams-height);
    border-left: var(--matchup-border-width) solid var(--matchup-accent-color);
    border-right: var(--matchup-border-width) solid var(--matchup-accent-color);
    background-color: white;
}

.team {
    text-align: center;
    text-transform: uppercase;
    font-size: var(--team-font-size);
    color: var(--team-color);
    width: 100%;
}

.vs-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: var(--vs-width);
    height: 100%;
    background-color: var(--vs-background-color);
}

.vs {
    font-size: var(--vs-font-size);
    font-weight: bold;
    color: var(--vs-color);
    text-align: center;
}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.social {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 5rem;
}

.social img {
    width: var(--social-img-size);
    height: var(--social-img-size);
    margin: 0;
    margin-right: var(--social-img-spacing);
    object-fit: contain;
}

.social p {
    font-size: var(--social-font-size);
    color: var(--social-color);
    margin: 0;
}
